
<div class="col-11 mt-5 pt-5 me-1 pe-1 ms-5 ps-5">
  <div class="row mx-auto">
    <div class="col-5 text-center pe-5">
      <h2>Increase the productivity</h2> 
      </br>
      <p> get a better experience making the order </p>
      </br>
      <p> <a href="#" > BrightCoders </a> ToDo app </p>
      <%= link_to t(".sign_up"), sign_up_path, class: "btn btn-primary mt-4", style: "color: #fff;" %>
    </div>
    <div class="col-5 text-center ps-4">
      <div class="">
        <h2><%= t(".title") %></h2> 
        <%= render partial: '/sessions/form' %>
      </div>
    </div>
  </div>
</div>