
<div class="container-edit-task d-flex row">
  <%= render 'main/sidebar' %>

  <div class="d-flex flex-column bg-gray col-xl-9">
    <h1 class="mx-5 mt-3">Editing Task</h1>
    <%= render 'form', task: @task %>
  </div>
  
  
</div>

