<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>last name:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<image src="<%= (url_for(current_user.avatar)) %>" style="width: 120px;">
