// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* { padding: 0; margin: 0; }

body{


  .container-main{

    .sidebar{
      background-color: rgb(180, 213, 218);
      min-height: 45vw;
  
      .info-user{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .username, .usermail{
          margin-top: 15px;
        }
  
        .profile-photo{
          border-radius: 50%;
        }
      }
    }

    $breakpoint-tablet: 768px;
    @media (min-width: $breakpoint-tablet) {
      .sidebar{
        height: fit-content;
      }
    }
  
    .task-panel{
      background-color: rgb(219, 218, 215);


      .btn-container{
        display: flex;
        justify-content: flex-end;
        width: 90%;

        .btn-new-task{
          display: flex;
          width: fit-content;
          text-decoration: none;
          background-color: rgb(130, 186, 219);
          padding: 8px 15px;
          border-radius: 10%;
          color: black;
    
          &:hover{
            background-color: rgb(170, 202, 221);
          }
        }
      }

      .title-tasks{
        max-width: fit-content;
      }

      .task-table{
        width: 85%;
        margin: 10px auto 5px;
        margin-top: 30px;

        .row-table{
          border-bottom: solid .5px rgb(179, 179, 179);
        }
  
      }
    } 
  }

  a{
    text-decoration: none;

    &:hover{
      background-color: rgb(219, 218, 215);
    }
  }

  .icon{
    width: 20px;
  }

}