.LeftLoginCard{
  background-image: image-url('orden.png');
  background-position: center;
  border-radius: 10px 0px 0px 10px;
  p, h2, a {color: white;}
}

.RightLoginCard{
  background-color: #AEC8CE;
  border-radius: 0px 10px 10px 0px;
}